@import "setup/variables.scss";


#app{
    background-color: $base-dark;
}


// General Views CSS
.container-fluid {
    max-width: 2400px;
}
.bold{
   font-weight: bold;
}
.banner-full-height-menu{
    height: calc(100vh - 100px);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
body {
    background-color: #1e1e1e !important;
}

// Utilitis CSS
.relative{
    position: relative;
}
.transition-opacity {
    transition: visibility 0.3s, opacity 0.5s linear;
}
.opacity-0{
    opacity: 0;
    visibility: hidden;
}
.pointer{
    cursor: pointer;
}
.w-100{
    width: 100%;
}
.size-small{
    font-size: small;
}
.hide{
    display: none;
}
// Common Bottons
.global-btn-dark {
    background-color: #1c1813;
    color: white;
    border: 2px solid white;
    padding: 8px 8px;
    font-size: 18px;
}
.global-btn-dark:hover, .global-btn-dark:focus{
    border-color: #b7b7b7;
}
.btn-gray {
    background-color: #535353;
    color: white;
    padding: 3px 12px;
    border: 1px solid #ffffffc7;
}
.btn-green {
    background-color: #00603A;
    border: none;
    color: white;
    padding: 7px 27px;
}
//links
.app a{
    color: white;
    text-decoration: none;
}

//TABS
  .tabs {
    padding: 30px 30px 10px 30px;
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 0.5rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
  .tabs [class*=" tab"] [type="radio"]:hover,
  .tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #fbfbfb; }
  .tabs [class^="tab"] [type="radio"]:checked,
  .tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 4px solid #fbfbfb;; }
  .tabs [class^="tab"] [type="radio"]:checked + div,
  .tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1; }
  .tabs [class^="tab"] [type="radio"] + div,
  .tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .tabs .tab-base {
  width: 25%; }
  .tabs .tab-base [type="radio"] + div {
  width: 200%;
  margin-left: 200%; }
  .tabs .tab-base [type="radio"]:checked + div {
  margin-left: 0; }
  .tabs .tab-base:last-child [type="radio"] + div {
  margin-left: 100%; }
  .tabs .tab-base:last-child [type="radio"]:checked + div {
  margin-left: -100%; }